{% extends 'layout.html'%}

{% block body %}
<form action='' method='POST'>
    {{form.hidden_tag()}}
    {{form.character.label}} {{form.character}}
    <br>
    {{form.dice_roll.label}} {{form.dice_roll}}
    <br>
    {{form.dice_result.label}} {{form.dice_result}}
    <br>
    <br>
    {% if form.dice_result.errors %}
        <div class='Error'>
            {% for error in form.dice_result.errors %}
                <span><i>{{error}}</i></span>
            {%endfor%}
        </div>
    {%endif%}
    <br>
    {{form.submit}} 
</form>


{% endblock body %}